* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
a {
  text-decoration: none;
  color: #fff;
}

body {
  overflow-x: hidden;

  font-family: Montserrat;
}

.wrapper {
  margin: 0 405px;
  box-sizing: border-box;
}

.landing {
  background-image: url("./assets/bgc.png");
  width: 1920px;
  height: 900px;
}

.adress {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding: 30px 0 20px 0;
  box-sizing: border-box;
}

.adress-content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;

  color: #ffffff;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.list-item {
  list-style: none;
  width: 285px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  border-right: 1px solid #ffffff;
}

.list-item:last-child {
  border: none;
}

.button-wrapper {
  width: 415px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 583px;
  margin-left: 347px;
}

.landing-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  cursor: pointer;

  width: 203px;
  height: 100%;

  background-color: #99862a;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
}

.landing-button:hover {
  background-color: #5a4f17;
}

.taste {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1920px;
  height: 856px;

  background: #282828;
}

.border-taste {
  width: 1110px;
  height: 656px;
  border: 3px solid #c4c4c4;
  box-sizing: border-box;
}

.taste-phrase {
  margin-top: 60px;
  margin-left: 187px;

  width: 736px;
  height: 54px;

  font-family: Playfair Display;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */

  text-align: center;

  color: #ffffff;
}
.taste-line {
  margin-top: 40px;
  margin-left: 475px;

  width: 160px;
  height: 0px;

  border-bottom: 1px solid #ffffff;
}

.taste-text {
  margin-top: 40px;
  margin-left: 190px;

  width: 733px;
  height: 192px;

  /* text / 16r */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 24px */

  text-align: center;

  color: #ffffff;
}

.taste-image {
  margin-top: 50px;
  margin-left: 475px;

  width: 160px;
  height: 160px;
}

.novelty {
  width: 1920px;
  height: 1038px;
  left: 0px;
  top: 1756px;

  background: #e6e3c4;

  display: flex;
  justify-content: center;
  align-items: center;
}

.novelty-border {
  width: 1110px;
  height: 878px;
  left: 405px;
  top: 1836px;

  border: 1px solid #998431;
}
.novelty-border:last-child {
  border-left: none;
  border-right: none;
}

.novelty-text1 {
  margin-top: 60px;
  width: 347px;
  height: 24px;
  color: #000000;
}
.novelty-text2 {
  margin-top: 30px;
  width: 298px;
  height: 108px;
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 150%;
  color: #282828;
}
.novelty-line {
  margin-top: 30px;
  width: 160px;
  border-bottom: 1px solid #282828;
}
.novelty-text3 {
  margin-top: 30px;
  width: 445px;
  height: 84px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
}

.novelty-line1 {
  margin-top: 30px;
  margin-left: 75px;
  height: 228px;
  border-left: 1px solid #282828;
}

.novelty-line2 {
  margin-top: -155px;
  width: 445px;
  border-bottom: 1px solid #282828;
}
.novelty-line3 {
  margin-top: 85px;
  width: 445px;
  border-bottom: 1px solid #282828;
}

.year1 {
  margin-top: -130px;
  margin-left: 16px;
  width: 32px;
  height: 21px;
}

.year2 {
  margin-top: 60px;
  margin-left: 16px;
  width: 32px;
  height: 21px;
}

.year3 {
  margin-top: 60px;
  margin-left: 16px;
  width: 32px;
  height: 21px;
}